<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <!-- inject:Styles:css -->
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/admin-lte/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="/node_modules/admin-lte/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/node_modules/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="/node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="/node_modules/admin-lte/plugins/timepicker/bootstrap-timepicker.min.css">
    <!-- endinject -->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        @Html.Partial("_Header")

        @*Left side column. contains the logo and sidebar*@
        @Html.Partial("_LeftSideBar")

        @*Content Wrapper. Contains page content*@
        <div class="content-wrapper">

            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <h1 class="m-0 text-dark">@ViewBag.Title</h1>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </section>
            <!-- /.content -->

        </div>
        <!-- /.content-wrapper -->
        @*Main Footer*@
        @Html.Partial("_Footer")

    </div>
    <!-- /.wrapper -->

    <!-- REQUIRED JS SCRIPTS -->
    <!-- inject:EndOfBodyApp:js -->
    <script src="/node_modules/admin-lte/plugins/jquery/jquery.min.js"></script>
    <script src="/node_modules/admin-lte/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/node_modules/admin-lte/plugins/select2/select2.full.min.js"></script>
    <script src="/node_modules/admin-lte/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="/node_modules/admin-lte/plugins/datepicker/locales/bootstrap-datepicker.pt.js"></script>
    <script src="/node_modules/admin-lte/plugins/timepicker/bootstrap-timepicker.js"></script>
    <script src="/node_modules/moment/min/moment.min.js"></script>
    <script src="/node_modules/moment/locale/pt.js"></script>
    <script src="/node_modules/admin-lte/dist/js/adminlte.min.js"></script>
    <!-- endinject -->
    @RenderSection("scripts", required: false)
</body>
</html>
