@using DontForgetTheEggs.Core.Translations
<aside class="main-sidebar sidebar-dark-primary elevation-4">

    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="node_modules/admin-lte/dist/img/AdminLTELogo.png" alt="Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Don't Forget the Eggs</span>
    </a>

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                @GenerateMenuListElement("Home Page", "Index", "Home", menuIcon:"fa-home")
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fa fa-dashboard"></i>
                        <p>
                            Manage
                            <i class="right fa fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        @GenerateMenuListElement("Groceries", "Index", "Grocery", "Manage", menuIcon: "fa-home")
                        @GenerateMenuListElement("Categories", "Index", "Category", "Manage", menuIcon: "fa-home")
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>

@helper GenerateMenuListElement(string text, string action, string controller, string area = null, string requiredRole = null, string menuIcon = "", string bubbleText = "")
{
    var isActive = (string)ViewContext.Controller.ControllerContext.RouteData.Values["controller"] == controller;
    var itemUrl = Url.Action(action, controller, new { Area = area });

    if (!(!string.IsNullOrEmpty(requiredRole) && !ViewContext.HttpContext.User.IsInRole(requiredRole)))
    {
        <li class="nav-item">
            <a href="@itemUrl" class="@(isActive ? "active nav-link" : "nav-link")">
                <i class="nav-icon fa @(menuIcon) text-primary"></i>
                <p>@text</p>
                @if (!string.IsNullOrEmpty(bubbleText))
                {
                    <span class="pull-right-container">
                        <small class="label pull-right">@bubbleText</small>
                    </span>
                }
            </a>
        </li>
    }
}