@model PagedList.IPagedList<DontForgetTheEggs.Core.Features.Home.Index.Model>
@{
    ViewBag.Title = "Hello to Don't forget the Eggs";
}


<div class="card card-primary card-outline">
    <div class="card-body">
        <h5 class="card-title">Uncompleted Grocery Lists</h5>

        <table class="table">
            <thead>
                <tr>
                    @{ DontForgetTheEggs.Core.Features.Home.Index.Model nullItem = null; }
                    <th>@Html.LabelFor(x => nullItem.Name)</th>
                    <th>@Html.LabelFor(x => nullItem.CreatedUtc)</th>
                    <th>@Html.LabelFor(x => nullItem.DueIn)</th>
                    <th>@Html.LabelFor(x => nullItem.MissingItemsCount)</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                <tr>
                    <td><a href="@Url.Action("Detail", "GroceryList", new { id = item.Id })">@Html.DisplayFor(x => item.Name)</a></td>
                    <td>@Html.DisplayFor(x => item.CreatedUtc)</td>
                    <td>@Html.DisplayFor(x => item.DueIn)</td>
                    <td>@Html.DisplayFor(x => item.MissingItemsCount)</td>
                </tr>
                }
            </tbody>
        </table>

        <a href="@Url.Action("Create", "GroceryList")" class="card-link">Create new Grocery List</a>
    </div>
</div><!-- /.card -->

